/*
/// @package     theme_saimaniq
/// @category    scss
/// @copyright   created for Concordia University 2023 by Brandon Jimenez <brandon.jimenez@concordia.ca>
/// @description This is the scss containing all the variables applicable in all the stylesheets
*/

///Some default variables
// Options
$enable-rounded: false !default;
$enable-responsive-font-sizes: true !default;
$conu-border-radius:0px !default;
// Body
//$body-color: $gray-900 !default;
// Fonts
//$font-size-base: 0.9375rem !default;
//$rfs-base-font-size: 0.9rem !default;
//$headings-font-weight: 300 !default;
// Navbar
//$navbar-dark-hover-color: rgba($white, 1) !default;
//$navbar-light-color: rgba($black, 0.6) !default;
//$navbar-light-hover-color: rgba($black, .9) !default;
// Breadcrumbs

/*$breadcrumb-padding-y: .25rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: .5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;
// Floating elements positions
$gototop-bottom-position: 50px !default;
// Alerts
$alert-border-width: 0 !default;
$card-group-margin: .25rem;
// Custom control size
$custom-control-indicator-size: 1.25rem;
$input-btn-focus-color: rgba($primary, .75) !default;
$input-border-color: $gray-500 !default;
//$dropdown-link-hover-color: $gray-100;
//$dropdown-link-hover-bg: $conu-burgundy;*/