
/**************************** Font Section ****************************/
$conu-font-book: gill-sans-nova, Calibri, 'Trebuchet MS', sans-serif;
//$conu-font-book-italic: "GillSansMTPro-BookItalic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$conu-font-bold: gill-sans-nova, Calibri, 'Trebuchet MS', sans-serif;
$conu-font-bold-condensed: gill-sans-nova-condensed, Calibri, 'Trebuchet MS', sans-serif;
//$conu-font-bold-ext-condensed: "GillSansMTPro-BoldExtCond", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//$conu-font-bold-italic: "GillSansMTPro-BoldItalic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$conu-font-condensed: gill-sans-nova-condensed, Calibri, 'Trebuchet MS', sans-serif;

$conu-font-light: gill-sans-nova, Calibri, 'Trebuchet MS', sans-serif;
//$conu-font-light-italic: "GillSansMTPro-LightItalic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$conu-font-medium: gill-sans-nova, Calibri, 'Trebuchet MS', sans-serif;
//$conu-font-medium-italic: "GillSansMTPro-MediumItalic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$font-default: Arial, Helvetica, sans-serif;