
/// @package     theme_saimaniq
/// @category    scss
/// @copyright   created for Concordia University 2023 by Brandon Jimenez <brandon.jimenez@concordia.ca>
/// @description This is the scss containing all the colors taken from
///              https://www.concordia.ca/web/design/ui-kit-style-guide.html
///              All colors are either AA or AAA compliant

///Concordia colors
///1. Primary colours
/// Compliant as a background colour with white text on top
/// Compliant as text on a white background 
$conu-burgundy:  #912338 !default; //Compliant AAA
$conu-magenta:   #db0272 !default; //Compliant AA
$conu-orange:    #da3a16 !default; //Compliant AA
$conu-mauve:     #573996 !default; //Compliant AAA
$conu-dark-blue: #004085 !default; //Compliant AAA
$conu-blue:      #0072a8 !default; //Compliant AA
$conu-turquoise: #057d78 !default; //Compliant AA
$conu-green:     #508212 !default; //Compliant AA
$conu-dark-green:#34550C !default; //New color added
$conu-dark-gold: #554720 !default; //New color added

$conu-primaries: () !default;
$conu-primaries: map-merge(
    (
    "burgundy":   $conu-burgundy,
    "magenta":    $conu-magenta,
    "orange":     $conu-orange,
    "mauve":      $conu-mauve,
    "dark-blue":  $conu-dark-blue,
    "blue":       $conu-blue,
    "turquoise":  $conu-turquoise,
    "green":      $conu-green,
    "dark-green": $conu-dark-green,
    "dark-gold":  $conu-dark-gold
    ),
    $conu-primaries
);

///2. Secondary colours
/// Available only in the button and card component 
/// (use of black text on top of these colours is mandatory)
$conu-yellow: #e5a712 !default; //Compliant AAA (black text)
$conu-gold:   #cbb576 !default; //Compliant AAA (black text)
$conu-cyan:   #00adef !default; //Compliant AAA (black text)
$conu-lime:   #8cc63e !default; //Compliant AAA (black text)

$conu-secondaries: () !default;
$conu-secondaries: map-merge(
    (
    "yellow":   $conu-yellow,
    "gold":     $conu-gold,
    "cyan":     $conu-cyan,
    "lime":     $conu-lime
    ),
    $conu-secondaries
);

///3. Background tints
/// Can be used to create blocks of background colour on a web page
/// to seperate and draw attention to content 
$conu-tint-burgundy: #E9D3D7 !default;
$conu-tint-magenta:  #FACDE3 !default;
$conu-tint-orange:   #f9cdc3 !default;
$conu-tint-mauve:    #dcd6e8 !default;
$conu-tint-dark-blue:#B2C5DA !default;
$conu-tint-blue:     #d3e1e9 !default;
$conu-tint-turquoise:#CCE3E4 !default;
$conu-tint-green:    #dfeccf !default;
$conu-tint-gold:     #e9e3d3 !default;

$conu-tints: () !default;
$conu-tints: map-merge(
    (
    "tint-burgundy":   $conu-tint-burgundy,
    "tint-magenta":    $conu-tint-magenta,
    "tint-orange":     $conu-tint-orange,
    "tint-mauve":      $conu-tint-mauve,
    "tint-dark-blue":  $conu-tint-dark-blue,
    "tint-blue":       $conu-tint-blue,
    "tint-turquoise":  $conu-tint-turquoise,
    "tint-green":      $conu-tint-green,
    "tint-gold":       $conu-tint-gold
    ),
    $conu-tints
);

///4. Neutrals
$conu-light-grey:     #f0f0f0 !default; //Compliant with black text
$conu-medium-grey:    #c8c8c8 !default; //Compliant with black text
$conu-dark-grey:      #6e6e6e !default; //Compliant AA
$conu-very-dark-grey: #2c2c2c !default; //Compliant AAA
$conu-black:            $black !default;  //Compliant AAA (black text)

$conu-neutrals: () !default;
$conu-neutrals: map-merge(
    (
    "light-grey":     $conu-light-grey,
    "medium-grey":    $conu-medium-grey,
    "dark-grey":      $conu-dark-grey,
    "very-dark-grey": $conu-very-dark-grey
    ),
    $conu-neutrals
);

// theme colors
$primary:   $conu-burgundy;
$secondary: $conu-tint-burgundy;
$success:   $conu-green;
$info:      $conu-dark-blue;
$warning:   $conu-yellow;
$danger:    $conu-burgundy;
$light:     $conu-light-grey;
$dark:      $conu-very-dark-grey;

$success-outline: $conu-tint-green;
$info-outline:    $conu-dark-blue;
$warning-outline: $conu-gold;
$danger-outline:  $conu-burgundy;

$success-text: $conu-dark-green;
$info-text:    $conu-dark-blue;
$warning-text: $conu-dark-gold;
$danger-text:  $conu-burgundy;


$dropdown-link-active-color: $conu-light-grey;

$conu-theme-colors: () !default;
$conu-theme-colors: map-merge((
    primary:   $primary,
    secondary: $secondary,
    success:   $success,
    info:      $info,
    warning:   $warning,
    danger:    $danger,
    light:     $light,
    dark:      $black,
), $conu-theme-colors);

$conu-theme-alerts: () !default;
$conu-theme-alerts: map-merge((
    success-outline: $success-outline,
    info-outline:    $info-outline,
    warning-outline: $warning-outline,
    danger-outline:  $danger-outline,
    success-text:    $success-text,
    info-text:       $info-text,
    warning-text:    $warning-text,
    danger-text:     $danger-text,

), $conu-theme-alerts);

$conu-text-colors: () !default;
$conu-text-colors: map-merge((
    secondary: $black,
), $conu-text-colors);

$conu-text-colors-outline: () !default;
$conu-text-colors-outline: map-merge((
    secondary: $black,
), $conu-text-colors-outline);

$bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));