body[id*="page-course-view"]{
    //weeks
    .secondary-navigation {
        .navigation {
            background-color: transparent;
            .nav-tabs {
                background-color: transparent;
            }
        }
    }
    section {
        &#region-main {
            background-color: transparent;
        }
        .activity-item:not(.activityinline) {
            background-color: $white;
            button.btn-success[data-toggletype="manual:undo"] {
                background-color: $conu-tint-green;
                border-color: $conu-tint-green;
                color: $conu-very-dark-grey;
            }
        }
    }
}