body[id*="page-course-view"]{
    //weeks
    .secondary-navigation {
        .navigation {
            background-color: transparent;
            .nav-tabs {
                background-color: transparent;
            }
        }
    }
    section {
        &#region-main {
            background-color: transparent;
            .course-section-header {
                &[data-for="section_title"] {
                    div.hover-transparent{
                        &:hover {
                            opacity: .70;
                        }
                    } 
                }
                a {
                    &.btn.btn-icon{
                        font-size: 1.728rem;
                        line-height: 2.592rem;
                    }
                    &.btn.btn-icon:hover,
                    &.btn.btn-icon:focus {
                        background-color: transparent;
                    }
                }
            }
            .course-content {
                .current{
                    &::before {
                        border-left: $primary 3px solid;
                    }
                }
            }
            .activity-item:not(.activityinline) {
                background-color: $white;
                padding: 1rem;
                button.btn-success[data-toggletype="manual:undo"] {
                    background-color: $conu-tint-green;
                    border-color: $conu-tint-green;
                    color: $conu-very-dark-grey;
                }
            }
        }
    }
}