.conu {
    &.conu-burgundy-background {
        background-color: $conu-burgundy;
    }
    &.conu-magenta-background {
        background-color: $conu-magenta;
    }
    &.conu-orange-background {
        background-color: $conu-orange;
    }
    &.conu-mauve-background {
        background-color: $conu-mauve;
    }
    &.conu-dark-blue-background {
        background-color: $conu-dark-blue;
    }
    &.conu-blue-background {
        background-color: $conu-blue;
    }
    &.conu-turquoise-background {
        background-color: $conu-turquoise;
    }
    &.conu-green-background {
        background-color: $conu-green;
    }
    //
    &.conu-burgundy-color {
        color: $conu-burgundy;
    }
    &.conu-magenta-color {
        background-color: $conu-magenta;
    }
    &.conu-orange-color {
        background-color: $conu-orange;
    }
    &.conu-mauve-color {
        background-color: $conu-mauve;
    }
    &.conu-dark-blue-color {
        background-color: $conu-dark-blue;
    }
    &.conu-blue-color {
        background-color: $conu-blue;
    }
    &.conu-turquoise-color {
        background-color: $conu-turquoise;
    }
    &.conu-green-color {
        background-color: $conu-green;
    }
}

.color-white {
    color: white;
}

//$conu-font-medium: "GillSansMTProMedium";
//$conu-font-book: "GillSansMTProBook";
h1,
.h1 {
    font-size: 46px;
    font: normal 46px $conu-font-medium;
    &.conu-h1-big {
        font-size: 60px;
    }
}

h2 {
    background-color: burlywood !important;
    font-size: x-large !important;
    font-family: 'Courier New', Courier, monospace !important;
}

.btn {
    border-radius: $conu-border-radius;
}

.form-control-lg {
    border-radius: $conu-border-radius;
}

.card-container {
    width: 17rem;
}

.card-title {
    border-bottom: none !important;
}

.card-text p {
    margin-bottom: 0.1rem;
}