html {
    font-size: 16px;
    line-height: 24.00px;
    border-radius: $border-radius !important;
}
  
body {
    font-family: $font-default;
    .main-inner,
    .card,
    .custom-select,
    .breadcrumb,
    .badge,
    textarea,
    .form-control,
    .tox-tinymce,
    .tox-mbtn,
    .tox-menu,
    .tox-tbtn,
    .tox .tox-collection__item,
    .tox .tox-collection--list .tox-collection__item--active,
    .alert,
    .filepicker-filelist, 
    .filemanager-container,
    .activityiconcontainer,
    .activity-item,
    #contentframe,
    .que .formulation,
    .que .outcome,
    .que .comment,
    .que .info,
    .modal-content,
    .thispageholder,
    .coursebox,
    input[type="text"] {
        border-radius: $border-radius !important;
    }
    .nav-link {
        border-top-left-radius:  $border-radius !important;
        border-top-right-radius: $border-radius !important;
    }
}

#page {
    background-color: $conu-light-grey;
}

@each $name, $color in $conu-primaries {
    .conu-#{$name}-background{
        background-color: $color;
    }
    .conu-#{$name}-color{
        color: $color;
    }
}

@each $name, $color in $conu-secondaries {
    .conu-#{$name}-background{
        background-color: $color;
    }
    .conu-#{$name}-color{
        color: $color;
    }
}

@each $name, $color in $conu-tints {
    .conu-#{$name}-background{
        background-color: $color;
    }
    .conu-#{$name}-color{
        color: $color;
    }
}

@each $name, $color in $conu-neutrals {
    .conu-#{$name}-background{
        background-color: $color;
    }
    .conu-#{$name}-color{
        color: $color;
    }
}

@each $name, $color in $conu-theme-colors {
    .link-#{$name} {
        color: $color !important;
    }
    .btn-#{$name} {
        background-color: $color;
        border-color: $color;
    }
    .text-#{$name} {
        color: $color !important;
    }
    .bg-#{$name} {
        background-color: $color !important;
    }
}

@each $name, $width in $conu-widths {
    .w-#{$name}{
        width: $width !important;
    }
}

a {
    color: $conu-blue;
    &:hover{
        color: $conu-dark-blue;
    }
}
//headers
h1,
.h1 {
    font: normal 46px $conu-font-medium;
    &.conu-h1-big {
        font-size: 60px;
    }
}

h2,
.h2 {
    font: normal 26px $conu-font-book;
    &.conu-h2-small {
        font-size: 21px;
    }
}

h3,
.h3 {
    font: bold 20px 'Arial';
}

h4,
.h4 {
    //Update section H4 to GillSansMTProBoldCondensed 1.44rem
    font: normal 1.44rem $conu-font-bold-condensed;
}

h5,
.h5 {
    font: normal 18px 'Arial';
}

h6,
.h6 {
    font: bold 15px 'Arial';
}

//buttons
.btn {
    border-radius: $conu-border-radius;
    font-family: $conu-font-book;
}

//miscelaneous
.form-control-lg {
    border-radius: $conu-border-radius;
}

.card-container {
    width: 17rem;
}

.card-title {
    border-bottom: none !important;
}

.card-text p {
    margin-bottom: 0.1rem;
}

.capitalize {
    text-transform: capitalize;
}
.no-border {
    border: none !important;
}
.border-bottom-settings {
    border: none;
    border-bottom: 1px solid lightgray;
}
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: $conu-border-radius;
}

input[type="checkbox"] { 
    accent-color: $primary;
}

.full-height {
    height: 100vh !important;
}

.bg-gradient {
    background-image: $bs-gradient!important;
}

.conu-admin-list {
    line-height: 1.75rem;
    .conu-sublist {
        padding: 0 1.25rem;
        border-left: 1px solid $conu-light-grey;
    }
}
.conu-hr {
    border-top: 1px solid $conu-medium-grey;
}