$opacity-calculated: 1 - $loginbgopacity;
@mixin wrapper-bg($hasbg: false) {
    @if $hasbg {
        background-image: url($login-backgroundimage);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
    }
    @else {
        background-image: none;
    }
}


/*
@mixin page-bg($hasbg: false, $opacity) {
    @if $hasbg {
        background-image: initial;
        background-color: rgba(255, 255, 255, $opacity);
    }
    @else {
        background-image: none;
    }
}
*/

body.pagelayout-login {
    &.saimaniq-no-background {
        &.saimaniq-plain {
            #page {
                background-image: none;
                background-color: $loginbackgroundcolor;
            }
        }
        #page-wrapper {
            @include wrapper-bg($hasbg: false);
        }
    }
    &.saimaniq-background {
        #page-wrapper {
            @include wrapper-bg($hasbg: true);
            #page {
                background-image: initial;
                background-color: rgba(255, 255, 255, $opacity-calculated);
            }
        }
    }
    #page {
        background-color: transparent;
        background-image: none;
        #custom-variables-div{
            display:none;
        }
        .login-wrapper.saimaniq-login-#{$loginformposition} {
            justify-content: $loginformposition;
            /*padding-#{$loginformposition}: 5rem !important;*/
            padding: 0 5rem;
        }
        .login-container {
            background-color: rgba(255, 255, 255, $loginformopacity);
            border-radius: $conu-border-radius;
            .login-logo {
                margin-bottom: 4rem;
            }
            .login-identityproviders .login-identityprovider-btn {
                border: inherit;
            }
            .login-divider{
                border-top: 1px solid transparent;
                margin: 1.2rem 0rem;
            }
            h2 {
                &.login-heading {
                    font-family: $font-default;
                    font-size: 1.125rem;
                    font-weight: 700;
                }
            }
            .login-instructions{
                border-left: 3px solid $conu-dark-blue;
                padding-left: 0.8rem;
                svg{
                    margin: 0.1rem 0.3rem;
                }
            }
            .login-form-forgotpassword{
                padding-top: 0.5rem;
            }
        }
        .saimaniq-login-left,
        .saimaniq-login-right {
            .login-logo{
                justify-content: left;
            }
        }
        #saimaniq-blockquote-wrapper {
            display: flex;
        }
        .saimaniq-login-blockquote-#{$blockquoteposition} {
            justify-content: $blockquoteposition;
        }
        #saimaniq-login-quote {
            &.backquote {
                border-left: 5px solid $conu-burgundy;
                background-color: $conu-tint-burgundy;
            }
            &.styledquote {
                font-family: $conu-font-light;
                background-color: rgba($black,$opacity-calculated);
                color:$white;
                border: none;
                padding: 10px 15px 0px 15px;
            }
        }
        /*.login-wrapper{
            //background-color: blueviolet;
            background-color: rgba(255, 255, 255, $loginformopacity);
        }*/
        .login-opacity{
            background-color: rgba(255, 255, 255, $loginformopacity);
        }
        .additional-wrapper{
            //background-color: chartreuse;
            flex-direction: column;
            background-color: transparent;
        }
    }
    &.theme-designer-true{
        #custom-variables-div{
            display: block !important;
        }
        .login-wrapper{
            background-color: blueviolet !important;
        }
        .additional-wrapper{
            background-color: chartreuse !important;
        }
    }
}