/*.navigation {
    font-family: $conu-font-bold-condensed;
    //font-weight: initial;
    .nav-link {
        font-weight: initial;
        color: $conu-dark-grey;
        &:hover,
        &:focus {
            border-bottom-color: $primary;
            //background-color: $conu-light-grey;
            transition: border-color 0.4s ease-out;
            color: $black;
        }
        &.active {
            border-bottom-color: $primary;
            //font-family: $conu-font-bold;
            &:hover,
            &:focus {
                border-bottom-color: $primary;
                background-color: $conu-light-grey;
            }
        }
    }
}*/
.navbar.fixed-top{
    height: 60.8px;
}

.primary-navigation,
.secondary-navigation {
    .navigation {
        font-family: $conu-font-bold-condensed;
        font-size: 1.3125rem;
        line-height: 1.968rem;
        letter-spacing: 0.5px;
        .nav-link{
            color: $conu-dark-grey;
            padding: 0;
            margin: 0 0.5rem;
            &:hover{
                transition: color 0.4s ease-out;
                color: $black;
                background-color: inherit;
            }
            &.active {
                border-bottom-color: $primary;
                color: $primary;
            }
        }
    }
}
.primary-navigation {
    .navigation {
        font-family: $conu-font-bold-condensed;
    }
}

.secondary-navigation {
    .navigation {
        font-family: $conu-font-medium;
        .nav-link{
            margin: 0 0.5rem -1px 0.5rem;
        }
    }
}

.dropdown-item {
    a {
        display: block;
        width: 100%;
        color: $body-color;
    }
    &.active,
    &:active,
    &:hover,
    &:focus,
    &:focus-within {
        outline: 0;
        background-color: $primary;
        color: $dropdown-link-active-color;
        a {
            color: $dropdown-link-active-color;
        }
    }
}