.navbar.fixed-top{
    height: 60.8px;
}

.primary-navigation,
.secondary-navigation {
    .navigation {
        font-family: $conu-font-bold-condensed;
        font-size: 1.3125rem;
        line-height: 1.968rem;
        letter-spacing: 0.5px;
        .nav-link{
            color: $conu-dark-grey;
            padding: 0;
            margin: 0 0.5rem;
            &:hover{
                transition: color 0.4s ease-out;
                color: $black;
                background-color: inherit;
            }
            &.active {
                border-bottom-color: $primary;
                color: $primary;
            }
        }
    }
}
.primary-navigation {
    .navigation {
        font-family: $conu-font-bold-condensed;
    }
}

.secondary-navigation {
    .navigation {
        font-family: $conu-font-medium;
        .nav-link{
            margin: 0 0.5rem -1px 0.5rem;
        }
    }
}
//the alphabet selector
.initialbar{
    .initialbarlabel{
        font-weight: 700;
    }
    .page-item{
        margin: 0 3px;
        .page-link {
            border: 0px solid #fff;
            max-height: 1.25rem;
            height: 1.25rem;
            /*max-width: 1.25rem;
            width: 1.25rem;*/
            max-width: 1.25rem;
            width: 1.25rem;
            /*margin: 0 3px;*/
            color: $conu-blue;
            padding: 0 25%;
        }
        &.active{
            .page-link {
                /*max-width: 1.75rem;
                width: 1.75rem;*/
                background-color: $conu-blue;
                color: #fff;
            }
        }
        &:first-child,
        &:last-child {
            .page-link {
                border-radius: $conu-border-radius !important;
            }
        }
        &.initialbarall{
            .page-link {
                max-width: 1.75rem;
                width: 1.75rem;
                padding: 0 20%;
            }
        }
    }
}

//the profile image/initials
img.userpicture {
    border-radius: 50%;
}

.userinitials {
    &.size-35 {
        width: 35px;
        height: 35px;
        font-size: 0.95rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    &.size-40 {
        width: 40px;
        height: 40px;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}

//the edit mode switch
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $conu-blue;
    background-color: $conu-blue;
}
.custom-control-input:checked ~ .custom-control-label::after {
    border: $white solid 1px;
}
.custom-control-label::before{
    top: 0.1rem;
    border: $black solid 1px;
}

.custom-switch .custom-control-label::after{
    top: calc(0.1rem + 2px);
    background-color: $white;
    border: $black solid 1px;
}


//dropdowns
.dropdown-item {
    a {
        display: block;
        width: 100%;
        color: $body-color;
    }
    &.active,
    &:active,
    &:hover,
    &:focus,
    &:focus-within {
        outline: 0;
        background-color: $primary;
        color: $dropdown-link-active-color;
        a {
            color: $dropdown-link-active-color;
        }
    }
}