{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="theme_saimaniq_exam_verification">
    <div id="exam-verifications">
    <form>
        {{#instructions}}
        <input type="checkbox" id="instructions_verification" name="instructions_verification" value="instructions_verification">
        <label class="very-small" for="instructions_verification">{{# str }} instructions, theme_saimaniq {{/ str }}</label><br>
        {{/instructions}}
        {{#copyright}}
        <input type="checkbox" id="copyrightnotice" name="copyrightnotice" value="copyrightnotice">
        <label class="very-small" for="copyrightnotice">{{# str }} copyrightnotice, theme_saimaniq {{/ str }}</label><br>
        {{/copyright}}
    </form>
    {{#checkmessage}}
    <p class="small strong">{{# str }} obligatoryapproval, theme_saimaniq {{/ str }}</p>
    {{/checkmessage}}
    {{^checkmessage}}
    <p class="small strong">{{# str }} obligatoryapprovalsingle, theme_saimaniq {{/ str }}</p>
    {{/checkmessage}}
    </div>
</div>