{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

}}
<div id="saimaniq-faq-info">
    <span class="h4">{{# str }} support, theme_saimaniq {{/ str }}</span>
    <hr class="underlined" >
    <div class="accordion" id="help-quiz">
        <div class="card">
            <div class="card-header py-0" id="headingOne">
                <a></a>
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseOne">{{# str }} technicaldifficultieshdr, theme_saimaniq {{/ str }}</button>									
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#help-quiz">
                <div class="card-body">
                    <p>{{# str }} technicaldifficulties, theme_saimaniq {{/ str }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header py-0" id="headingTwo">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseTwo">{{# str }} proctorioissueshdr, theme_saimaniq {{/ str }}</button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#help-quiz">
                <div class="card-body">
                    <p>{{# str }} proctorioissues, theme_saimaniq {{/ str }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header py-0" id="headingThree">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseThree">{{# str }} questionsinstructorhdr, theme_saimaniq {{/ str }}</button>                     
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#help-quiz">
                <div class="card-body">
                    <p>{{# str }} questionsinstructor, theme_saimaniq {{/ str }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header py-0" id="headingFour">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseFour">{{# str }} acsdaccomodationshdr, theme_saimaniq {{/ str }}</button>                     
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#help-quiz">
                <div class="card-body">
                    <p>{{# str }} acsdaccomodations, theme_saimaniq {{/ str }}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header py-0" id="headingFive">
                <h2 class="mb-0">
                    <button type="button" class="btn btn-link btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseFive">{{# str }} chinaoriranhdr, theme_saimaniq {{/ str }}</button>                     
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#help-quiz">
                <div class="card-body">
                    <p>{{# str }} chinaoriran, theme_saimaniq {{/ str }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="support-phone" class="support-phone">
        <p>{{# str }} supportphone, theme_saimaniq {{/ str }}</p>
    </div>
</div>