{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_saimaniq/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_saimaniq/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid {{! pt-5 }} mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12 {{#logorender}}px-0{{/logorender}}">
                {{#themedesigner}}
                <div id="custom-variables-div">
                    <button id="custom-variables-toggle-button" type="button" class="btn btn-info" data-toggle="collapse" data-target="#custom-variables-toggle">Variables</button>
                    <div id="custom-variables-toggle" class="collapse">
                        <pre>
                            loginmaintextconf {{{ loginmaintextconf }}}<br/>
                            loginbgimage {{{ loginbgimage }}}<br/>
                            loginbgopacity {{{ loginbgopacity }}}<br/>
                            loginformopacity {{{ loginformopacity }}}<br/>
                            loginlogoposition {{{ loginlogoposition }}}<br/>
                            logorenderwhitin  {{{ logorenderwhitin }}}<br/>
                            loginformposition  {{{ loginformposition }}}<br/>
                            defaultnobackground {{{ defaultnobackground }}}<br/>
                            loginbackgroundcolor {{{ loginbackgroundcolor }}}<br/>
                            loginjsrectangles {{{ loginjsrectangles }}}<br/>
                            showdefaultfrontpagebody {{{ showdefaultfrontpagebody }}}<br/>
                            defaultfrontpagebody {{{ defaultfrontpagebody }}}<br/>
                            formatfrontpagebody  {{{ formatfrontpagebody }}}<br/>
                            showchangepassword  {{{ showchangepassword }}}<br/>
                            hasbackground {{{ hasbackground }}}<br/>
                            nobackground {{{ nobackground }}}<br/>
                            blockquoteposition {{{ blockquoteposition }}}<br/>
                            corelogo {{{ corelogo }}}<br/>
                            corelogosmall {{{ corelogosmall }}}<br/>
                            logorender {{{logorender}}}<br/>
                            reverse {{{reverse}}}<br/>
                            shapesload {{{ shapesload }}}<br/> 
                        </pre>
                    </div>
                </div>
                {{/themedesigner}}
                <section id="region-main" class="col-12 full-height {{#logorender}}row p-0 mx-0{{/logorender}} {{#reverse}}flex-row-reverse{{/reverse}}" aria-label="{{#str}}content{{/str}}">
                    <div class="login-wrapper saimaniq-login-{{{ loginformposition }}} {{#logorender}}col-md-5 login-opacity{{/logorender}}">
                        <div class="login-container {{#logorender}}w-100 px-1 bg-transparent shadow-none{{/logorender}}">
                        {{^logorender}}
                            {{#corelogo}}
                                <div id="loginlogo" class="login-logo">
                                    <img id="logoimage" src="{{output.get_logo_url}}" class="img-fluid" alt="{{sitename}}"/>
                                    <h1 class="login-heading sr-only">{{sitename}} {{{ loginmaintextconf }}}</h1>
                                </div>
                            {{/corelogo}}
                            {{^corelogo}}
                                <h1 class="login-heading mb-4">{{sitename}} {{{ loginmaintextconf }}}</h1>
                            {{/corelogo}}
                        {{/logorender}}
                        {{#logorender}}
                            {{#logorenderwhitin}}
                                {{#corelogo}}
                                    <div id="loginlogo" class="login-logo w-90">
                                        <img id="logoimage" src="{{output.get_logo_url}}" class="img-fluid mw-80" alt="{{sitename}}"/>
                                        <h1 class="login-heading sr-only">{{sitename}} {{#str}}loginto, core {{/str}}</h1>
                                    </div>
                                {{/corelogo}}
                            {{/logorenderwhitin}}
                            <h1 class="login-heading mb-4">{{sitename}} {{{ loginmaintextconf }}}</h1>
                        {{/logorender}}
                        {{{ output.main_content }}}
                        </div>
                    </div>

                    <div class="d-flex additional-wrapper flex-direction-column saimaniq-login-blockquote-{{{ blockquoteposition }}} {{#logorender}}col-7{{/logorender}}">
                        {{#logorender}}
                            <div id="saimaniq-logo-wrapper" class="d-flex h-100 justify-content-center">
                            {{^logorenderwhitin}}
                                {{#corelogo}}
                                    <img src="{{output.get_logo_url}}" class="align-self-center w-50">
                                {{/corelogo}}
                            {{/logorenderwhitin}}
                            </div>
                        {{/logorender}}
                        {{#showdefaultfrontpagebody}}
                        <div id="saimaniq-blockquote-wrapper" class="saimaniq-login-blockquote-{{{ blockquoteposition }}}">
                            <blockquote id="saimaniq-login-quote" class="blockquote w-40 {{{ formatfrontpagebody }}}">
                                <p>{{{ defaultfrontpagebody }}}</p>
                            </blockquote>
                        </div>
                        {{/showdefaultfrontpagebody}}
                    </div>
                </section>
            </div>
        </div>
    </div>
    {{> theme_saimaniq/footer }}
</div>

</body>
</html>
{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{^loginbgimage}}
    {{#shapesload}}
        console.log('number of figures to create: '+ {{{loginjsrectangles}}});
        
        require(['theme_saimaniq/shapegenerator'], function(shapegenerator) {
            
            shapegenerator.generateShapes({
                    element: document.querySelector('#page'),
                    options: {
                        colorList: ["#912338","#db0272","#da3a16","#573996","#004085","#0072a8","#057d78","#508212","#34550C","#554720"],
                        numberOfShapes: {{{loginjsrectangles}}},
                        mode: 1,
                        rotation: true
                    }
                });
        });
    {{/shapesload}} 
{{/loginbgimage}}
{{/js}}
